<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Tune hub</h1>
<form action="register" method="post">
<label>user name:</label>
<input type="text" name="username"/>
<br>
<label>marks:</label>
<input type="text" name="marks"/>
<br>
<label>password:</label>
<input type="password" name="password"/>
<br>
<label>schoolname:</label>
<input type="schoolname" name="schoolname"/>
<br>
<label>branch:</label>
C<input type="radio" name="branch" value="CSE"/>
E<input type="radio" name="branch" value="EEE"/>
M<input type="radio" name="branch" value="MECH"/>
<br>
<label>classname:</label>
M<input type="radio" name="classname" value="Mathsclass"/>
E<input type="radio" name="classname" value="Englishclass"/>
<br>
<textarea name="address"></textarea>
<br>
<input type="submit"/>

</form>
</body>
</html>